<div class="card">

  <H4 class="card-header">
    Add new Product
  </H4>
  <div class="card-body">

    <form [formGroup]="newItemForm" (ngSubmit)="save()" novalidate>

      <div class="form-group">
        <label for="itemNameInput">Name:
          <input id="itemNameInput" type="text" class="form-control" formControlName="name">
        </label>
      </div>

      <div class="form-group">
        <label for="currentStockInput">Current Stock:
          <input id="currentStockInput" type="number" class="form-control" formControlName="stock">
        </label>
      </div>

      <div class="form-group">
        <label for="descriptionTextArea">Description:
          <textarea id="descriptionTextArea" type="text" class="form-control" rows="2" formControlName="description"></textarea>
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
  </div>

</div>