<div class="card">

  <H4 class="card-header">
    Product List
  </H4>
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allItems">
          <th scope="row">{{item.id}}</th>
          <a routerLink="/addItem/{{item.id}}">
            <td>{{item.name}}</td>
          </a>
          <td>{{item.stock}}</td>
          <td>{{item.description}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>