<a [routerLink]="[ '/purchase' ]">Purchase</a>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Date Column-->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date | date:'mediumDate'}}</td>
    </ng-container>

    <!-- Invoice No -->
    <ng-container matColumnDef="invoiceNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice No</th>
      <td mat-cell *matCellDef="let row">{{row.invoiceNo}}</td>
    </ng-container>

    <!--Distributor name-->
    <ng-container matColumnDef="distributor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor</th>
      <td mat-cell *matCellDef="let row">{{row.distributor.name}}</td>
    </ng-container>

    <!--Item Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
      <td mat-cell *matCellDef="let row">{{row.purchaseItems[0].item.name}}</td>
    </ng-container>

    <!-- Purchase Item Amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row">{{ row.purchaseItems[0].amount | currency:'NPR':'symbol-narrow':'1.0-2' }}</td>
    </ng-container>

    <!-- Purchase Item Quantity-->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let row">{{row.purchaseItems[0].quantity}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
